# project
.env
__pycache__

# frontend
node_modules
package-lock.json
dist

# infrastructure
tfplan
.terraform
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
cdk.out